.main-head {
  display: flex;
  justify-content: center;
  width: 100%;
}
.table.main-head > tr > th {
  font-size: 0.8rem;
  border: 1px solid;
}
.inner-main-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
th,
td {
  font-size: 1rem;
  text-align: center;
}
table {
  width: 70%;
}
.add-button {
  width: 100%;
  background-color: green;
  color: antiquewhite;
}
.delete-button {
  width: 100%;
  background-color: tomato;
  color: antiquewhite;
}
th {
  background-color: black;
  color: antiquewhite;
}
